.about-container {
    background-color: white;
    border: solid 3px black;
    border-radius: 25px;
    margin: 15px 15px 50px 15px;
    color: black;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}