
.navBar-container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 15px;
    width: 95%;
    z-index: 100;
    position: sticky;
    top: 0;
}


.links {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(53, 53, 53);
}

.links > a {
    color: white;
    text-decoration: none;
    padding: 25px 15px 0px 15px;
}

.links > a:hover {
    text-shadow: 2px 2px 4px #3cd0fd;
    cursor: pointer;
    color:  #3cd0fd;
}

@media screen and (min-width: 1000px) {

.navBar-container {
    height: 80vh;
    text-align: center;
    padding: 50px;
    background-color: rgb(53, 53, 53);
    margin: 50px 0px 50px 50px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links {
    display: flex;
    flex-direction: column;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

}